.about-us{

   .aboutus-box{
    border: 4px solid $heading;
    padding: 30px;
    margin-top: 30px;
    margin-left: -29%;
    box-shadow: 9px 7px 25px 6px rgba(0, 0, 0, 0.25);
    background-color: $white;
    width: 100%;
    margin :0 auto;
    overflow:auto;

        h2{

            span{
                color:$btn;
            }
        }

        p{

            span{
                color:$heading;
                text-align:center;
            }
        }
    
   }

    .about-me{
        text-align:left;
        margin-top:80px;
        padding:20px;

        .about-img{ 
             position: relative;
            text-align: center;

             &:before{
                content: '';
                position: absolute;
                height: 80%;
                width: 60%;
                background: rgba($heading, 0.7);
                bottom: -7%;
                right: 12%;
                z-index: 2;
             }

             &:after{
                content: '';
                position: absolute;
                z-index: 3;
                top: -6%;
                left: 13%;
                height: 30%;
                width: 20%;
                border-left: 4px solid $heading;
                border-top: 4px solid $heading;
             }

            img{
                width:65%;
                z-index: 3;
                position: relative;
            }
        }

        .aboutme-text{
            padding-bottom:20px;
            
            h2{
                font-size:30px;
                padding-bottom:10px;
            }

            p{
                font-size:16px;
                color:$content-color;
                padding-bottom:10px;

                span{
                    color:$heading;
                }
            }
        }

        .aboutme-box{
            background-color:rgba($heading, 0.7);
            padding:20px 40px 10px;
            box-shadow: 17px 15px 45px -6px rgba(0, 0, 0, 0.25);

            p{
                color:$white;
                font-weight:700;
                padding-bottom:10px;
                font-size:14px;
               
                .para-details{
                    color:$white;
                    padding-left:15px;
                    font-weight:300;

                    &:hover{
                        color:$heading;
                    }
                }

                
            }
        }
    }
    // .about-team{
    //     margin:55px 70px;
       
    //         img{
    //             width:75%;
    //         }
    //         h2{
    //             font-size: 30px;
    //             text-align:left;
    //         }
    //         h3{
    //             font-size: 18px;
    //             font-weight:500;
    //         }
    //         p{
    //             padding-top:15px;
    //             color:$content-color;
    //             font-size: 14px;
    //            &:hover{
    //                color:$heading;
    //            }
    //         }
    //     .aboutus-box{
    //         height: 280px;
    //         overflow:auto;
    //     }
    }
 .FAQ{   
     h2{
         i{
             padding-left:10px;
         }
     }
     
.accordion{
    max-width: 900px;
	margin: 20px auto;
    background: $white;
	box-shadow: 0 4px 8px 0 rgba($black, 0.2), 0 6px 20px 0 rgba($black, 0.19);
    text-align: left;
    .accordion-header{
        border-bottom: 1px solid $input-border;
        color: $heading;
        cursor: pointer;
        font-weight: 700;
        padding: 1.5rem;
        transition: background-color 0.3s;
        &:hover{
            background-color:$btn;
            color:$white;
        }&::before{
            content: '';
            vertical-align: middle;
            display: inline-block;
            width: 0.75rem;
            height: 0.75rem;
            border-radius: 50%;
            background-color: $content-color;
            margin-right: .75rem;
        }

    }

    .accordion-content{
        display: none;
        border-bottom: 1px solid$input-border;
        padding: 1.5rem;
        color:$content-color ;
        a{
            text-decoration: underline;
            color:$btn;
        }
        
            span{
            font-weight: 700;
            color:$heading;
        }
    }
  }
}


@include mq-only("xs","md"){
    .about-us{
        .aboutus-box{
            .welcome-para{
                display:none;
            }
        }


        .accordion{
            font-size:10px;

            .accordion-header{
               padding:10px;

                &::before{
                    display:none;
                }  
            }

            .accordion-content{
                padding:12px;
            }
        }
    }
}

@include mq-only("xs","xl"){
    .about-us{
        .aboutus-box{
            padding:10px;

            p{
                font-size:12px;
            }
        }

    .about-me{
        margin-top:30px;
        
            .about-img{
                text-align: center;
                margin-bottom: 20px;
    
                &::before{
                    width: 55%;
                    bottom: -6%;
                    right: 16%;
                }
    
                &::after{
                    top: -6%;
                    left: 19%;
                    height: 25%;
                    width: 17%;
                    border-left: 2px solid $heading;
                    border-top: 2px solid $heading;
                
                    }
                  img{
                      width:55%;
                  }  
                }

            .aboutme-text{
                 padding-top:20px;
                text-align:center;
                h2{
                    font-size:20px;
                }
                
                p{
                    font-size:12px;
                }
            }

            .aboutme-box{
                padding:20px;
                margin-bottom: 12px;
                p{
                font-size:10px;

                .para-details{
                    padding-left:10px;
                }
            }
        }

            .aboutme-content{
                margin-bottom:30px;
            }
        }
    }
}

@include mq-only("md","xl"){
    .about-us{
        .about-me{
            .about-img{
                margin-top:63px; 
            }
            }
        .accordion{
            font-size:15px;
        }
    }
}