  .banner-slider{
    width: 100%;
    margin-top: -30px;
   
  .headers{
    &:hover{
      .slickarrowleft, .slickarrowright{
      visibility: visible;
      }
    }

      .header1, .header2, .header3, .header4, .header5{
        background-size:cover;
        background-repeat: no-repeat;
        height:900px;
        width: 100%;

        .header-heading{
          padding-top: 300px; 

          .banner-btn{
            border: 2px solid $btn;
            margin:25px auto 0;
            display: block;
          }
       }
      }
    .header1{
        background-image:linear-gradient(rgba(0,0,0,0.1),rgba(252,29,29,0.1)),url('../images/banner-bg1.png');
    }

    .header2{
      background-image: linear-gradient(rgba(0,0,0,0.1),rgba(252,29,29,0.1)), url('../images/banner-bg2.jpg');
    
    }
    .header3{
      background-image: linear-gradient(rgba($white,0.4),rgba(252,29,29,0.1)) , url('../images/banner-bg3.jpg');
    
    }
    .header4{
      background-image: linear-gradient(rgba(0,0,0,0.1),rgba(252,29,29,0.1)), url('../images/banner-bg4.jpg');
    
    }
    .header5{
      background-image: linear-gradient(rgba(0,0,0,0.1),rgba(252,29,29,0.1)), url('../images/banner-bg5.jpg');
    
    }
  }

    .slick-dots{
      li{
        button{
          margin-top: 45px;
          
        }
      }
    }
    .slickarrowleft, .slickarrowright{
      border-radius: 50%;
      cursor: pointer;
      top: 50%	;
      background-color: $white;
      position: absolute;
      font-size: 13px;
      color: $content-color;
      border: 1px solid $content-color;
      z-index: 1;
      visibility: hidden;
      
      &:hover{
        color: $white;
        background-color: $black;
        border: none;

      }
    }
    
    .slickarrowleft{
      left: 20px;
      padding: 18px 22px 18px 21px;
    
    }
    .slickarrowright{
      right: 20px;
      padding: 18px 21px 18px 22px;
      
    }


  }

  .innerpages-bg{
    .header{
        background-image:linear-gradient(rgba(white,0.2),rgba(white,0.2)),url('../images/innerbg.jpg');
        background-repeat:no-repeat;
        background-size:cover;
        height:590px;
  
        .header-heading{
            padding-top:200px;
  
            h1{
                font-size:50px;
            }
            .banner-para{
                font-size:20px;
            }
        }
  
    }
  }

  // media query
  @include mq-only("xs","md"){

    .banner-slider{
        .headers{
        
        .header1, .header2, .header3, .header4, .header5{
          height: 600px;
          .header-heading{
          padding-top: 200px;
            h1{
                font-size:30px;
                
           }
           p{
             font-size: 18px;
            
         
           }
           .banner-btn{
            width: 30%;
         }
          }

         }
      }
    }

    .innerpages-bg{
      .header{
        height:200px;
        .header-heading{
          padding-top:60px;
          h1{
            font-size:20px;
          }
          .banner-para{
            font-size:10px;
          }
        }
      }
    }

  }

  @include mq-only("md","lg"){
    .banner-slider{

      .headers{

        .header-heading{

          .banner-btn{
            width: 18%;

          }
        }
      }
    }

  }

  @include mq-only("xs","sm"){
    .banner-slider{

      .headers{
        &:hover{
          .slickarrowleft, .slickarrowright{
          visibility: hidden;
          }
        }
        .header-heading{
          .banner-btn{
            width: 45%;
          }
        }
      }
    
    }

  }
  