.brands{
  text-align:center;

.brand-item{
 
  margin-top:30px;
  -webkit-box-shadow: 4px 5px 21px 2px rgba(0,0,0,0.27); 
  box-shadow: 4px 5px 21px 2px rgba(0,0,0,0.27);
  &:hover{
    background-color:rgba($content-color,0.2);
  }
  img{
    width: 50%;
    height:240px;
  }
}
}


@include mq-only("xs","md"){

  .brands{

    .brand-item{
      width: 75%;
      margin: 10px auto;
      
    }
  }
  .subscribe-section{
    p{
      font-size: 10px;
    }
    form{
      .input-text{
        width:90%;
      }
      .btn-subscribes{
        display:none;
      }
      .subscribe-button{
        display:block;
        right:7%;
      }
    }
    #message-box{
      .popup{
        width:50%;
        padding:30px;
  
        .popup-msg{
          font-size: 10px;
        }
        .content{
          font-size:12px;
          padding-top: 5px;
        }
        .close{
          font-size:18px;
        }
      }
    }
  }
}


@include mq-only("md","lg"){

  .brands{

    .brand-item{
      width: 100%;
      
      img{
        width: 65%;
      }
    }
  }


}

@include mq-only("xs","sm"){
  .section-padding{
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .brands{
    .brand-item{
      
      img{
        width: auto;
        height: 100px;

      }
    }
  }
  .subscribe-section{
    form{
      .input-text{
        padding-bottom: 8px;
        padding-top: 8px;
      }
      .subscribe-button{
        top: -30%;
      }
    }
  }

}