.form{
  background:linear-gradient(rgba(0,0,0,0.2),rgba(252,29,29,0.2));
  margin:50px;
  box-shadow:10px 11px 31px -5px rgba(0, 0, 0, 0.25);
.contact{
  // width: 700px;
  // float: left;


  h2{
    padding-bottom: 20px;
    text-align: left;
  }

  form{
  
    .input-text{
      margin-bottom: 20px;
      border: 1px solid $white;
      color: $placeholder;
      background: transparent;
      padding: 20px ;
      &:hover{
        background-color: rgba($btn, 0.1);
      }
    }
    .btn{
      width: 21%;
      margin: 0 auto;
      display: grid;
      padding: 10px 0;
      color:$btn;
      transition: background-color 1s;
     
     &:hover{
      background-color:$btn;
      color: $white;
     }
    }
  }
  
}
.contact-mediaicons{
  float: right;
  padding-top: 10%;
  i{
    font-size:30px;
  }
  a{
    padding:10px;
    color:$white;
    font-weight:500;
    &:hover{
      color:$btn;
    }
  }
}
}


// @include mq("sm", max){
// .form{
//   .contact{
//   .contact-mediaicons{
//     .icons{
      
//         padding-bottom: 20px;
//           i{
//             font-size: 18px;
//           }
//           a{
//             font-size: 12px;
//             padding-left: 20px;
          
//           }
       
//       }
//     }
//     }
//   }
// }

@include mq-only("xs","md"){

  .form{

    .contact{

      h2{
        text-align: center;
      }
      form{
          .input-text{
            width: 100%;
          }
          .btn{
            width: 40%;
          }
      
      }
      .contact-mediaicons{
     
          float: none;
          width: 450%;
          margin: auto;

          .icons{
        
            padding-bottom: 15px;
              i{
                font-size: 20px;
              }
              a{
                font-size: 10px;
                padding-left: 5px;
              
              }
           }

        }

    }

  }

}

@include mq-only("md","lg"){

.form{
  
  .contact{

    .contact-mediaicons{

      .icons{
         
            i{
              font-size: 25px;
            }
            a{
              padding-left: 10px;
              font-size: 12px;
            
            }
          }
    }
  }
}

}
