footer{
  background-color: $footer-bg;
  
  .footer-items{
    
    img{
      width: 25%;
    }

    p{
      width: 75%;
      font-family: 'Shadows Into Light', cursive;
      color : $content-color;
    }
    h4{
      color: $heading;
      font-size: 18px;
    }
    .short-description{
      padding-top: 15px;
    }

    .social-icons li{
      list-style: none;
      display: inline-block;
      width: 32px;
      text-align: center;
      height: 30px;
      padding-top: 3px;

      &:hover{
        background: $content-color;
        color: $white;
        border-radius: 50%;
      }
    }

  }
  .footer-nav{
    li{
      list-style: none;
      padding-bottom: 15px;
      padding-top: 15px;
      a{
        color: $content-color;
        font-size: 14px;
        font-weight: 700;
      &:hover{
        color: $heading;
        
      }
    }
    }
  }


.footer-rights{
  border-top: 1px solid $border-bottom;

 p{
  text-align: center;
  font-size: 14px;
  color: $content-color;
  padding: 20px 0;
}
}
}

@include mq-only("xs","md"){
  footer{
  .footer-content{
    text-align:center;

    .footer-items{
      p{
        width:100%;
      }

      .short-description{
        padding-top: 20px;
      }
  
    }

    .footer-nav{
      ul{

        li{

          a{
            font-size:10px;
          }
        }

      }

    }
  }
  .footer-rights{
    p{
      font-size:12px;
    }
  }
}
}

