.crafts{
     
  h2{
    span{
      color:$btn;
    }
  }
  .craft-list {
    text-align: center;

    ul {
      display: inline-flex;
     list-style: none; 

      li {
        padding: 30px;
        color: $heading;
        font-size: 18px;
        
        &:hover {
          color: $content-color;
          cursor: pointer; 
        }

      }
    }
  }

  .product-item {
    padding-top: 50px; 
  }
      .craft-btn {
        margin-top: 20px;
        float: right; 
      }
}
  .pro-detail{

    position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.9);
      transition: opacity 500ms;
      visibility: hidden;
      opacity: 0;
      z-index: 200;
      
      &:target {
      visibility: visible;
      opacity: 1;
    }
  
    .close {
      position: absolute;
      top: 5px;
      right: 18px;
      transition: all 200ms;
      font-size: 30px;
      font-weight: bold;
      text-decoration: none;
      color: $heading;
  
      &:hover {
        color: $btn;
      }
    }
  
  
    #pro-detail{
      margin: 75px auto 0;
      padding: 100px 50px;
      background: $white;
      border-radius: 5px;
      width: 100%;
      position: relative;
      transition: 1s ease-in-out;
  
      .product-detail-image{
        .row{
          margin-top: 40px;
          float: left;
          width: 18%;
      
           .column {
              height: auto;
              width: 100%;
              margin-bottom: 6px;
              padding: 0 8px;
      
              .cursor {
                cursor: pointer;
              }
              .hover-shadow {
                transition: 0.3s;
                width: 100%;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
              }
      
            }
        }
        /* The Modal (background) */
        .modal {
          margin-top : 12px;
          width: 80%;
          float: right;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      
            /* Modal Content */
            .modal-content {
              position: relative;
              background-color: #fefefe;
              margin: auto;
              padding: 0;
              width: 100%;
              max-width: 1200px;
      
              /* Number text (1/3 etc) */
              .numbertext {
                color: #f2f2f2;
                font-size: 12px;
                padding: 8px 12px;
                position: absolute;
                top: 0;
              }
              .hover-image{
                width: 100%;
                height: auto;
              }
            }
        }
        
      }
      .image-detail{
        .image-name{
          padding-bottom: 25px;
          border-bottom: 1px solid $content-color;
          h2{
            text-align: left;
              padding-bottom: 25px;
          }
          
          .detail-content{
            color: $black;
            font-size: 18px;
          }
          
  
          .rupee{
            color: $heading;
            font-size: 14px; 
            padding-bottom: 25px;
          }
          .brand-name, .availibilty{
            span{
              color: $btn;
              padding-left: 10px;
             
            }
          }
          
      
        }
      }
      .item-detail{
        padding: 20px 0;
        h3{
          color: $heading;
          font-size: 14px;
        }
        .policy{
          font-size: 12px;
          padding: 5px 0;
        }
        p{
          font-size: 14px;
          color: $black;
          width: 90%;
          padding: 10px 0;
        }
      }
      
      .add-to-cart{
        p{
          float: left;
          
        }
        .cart-btn{
          width: 18%;
          display: inline-block;
          padding: 5px;
          
          margin: 0 0 0 15px;
         font-size: 12px;
          
        }
      
        .buy-btn{
          background-color: $btn;
          color: $white;
      
          &:hover{
            background-color: transparent;
            color: $btn;
          }
        }
      
        .quantity{
          padding: 5px 0;
          margin-left: 15px;
        }
      }
      
      }
  }

 






@include mq-only("xs","md"){
  
  .crafts{

    .craft-list{

      ul{
        display: block;

        li{
          border: 1px solid $heading;
          padding: 10px;
          margin-bottom: 10px;
        }
      }

    }
    .craft-btn{
      width:35%;
    }
  }
  .pro-detail{
  #pro-detail{
    width: 80%;
    padding-bottom: 70px;
    padding-top: 50px;

    .product-detail-image{
      padding:0 15px 30px;
      text-align: -webkit-center;
      

      .row{
        float: none;
        width: 100%;
           .column{
             width: 23%;
             float: left;
            

           }
      }
        .modal{
          float: none;
          width: 100%;
      

        }
    }
  }
}
}

@include mq-only("xs","md"){

  .crafts{

    .product-item{

        .product-image{
          height: 500px;
        }
    }
  }
}
@include mq-only("md","lg"){

  .crafts{

    .product-item{

        .product-image{
          height: 350px;
        }
    }
    .craft-btn{
      width: 15%;
    }
  }
}


@include mq-only("xs","sm"){

  .crafts{

    .product-item{

      .product-image{
        height: 325px;
      }
  }


    .craft-list{

      ul{
        display: block;

        li{
          border: 1px solid $heading;
          padding: 10px;
        }
      }

    }
  }

  .pro-detail{

    .close{
      right: 4%;
      font-size: 25px;
    }

    #pro-detail{
      margin-top: 25px;
      padding: 10px 10px 50px;
  
      .product-detail-image{
          padding: 0 30px ;
        .row{
            margin-top: 10px;
          
            .column{
              margin-left: 0;
              width: 25%;
              padding: 0 3px;
  
             }
        }
      }

      .image-detail{
        .image-name{

            padding: 3px 0;

            h2, .rupee{
              font-size: 12px;
              padding-bottom: 3px;
            }

            .detail-content{
              font-size: 10px;
            }
         }
            p{
              font-size: 10px;
            }
      }

      .item-detail{

        padding: 3px 0;
        
        .describe{
          padding: 3px 0;
          width: 100%;
        }
        h3{
          font-size: 12px;
        }
        .policy{
          font-size: 10px;
          padding: 3px 0;
          width: 100%;
        }

      }
      .add-to-cart{
        .quantity{
          padding: 3px 0;
          margin-left: 5px;
          width: 50%;
        }
        .cart-btn{
          width: 45%;
          margin: 16px 0 0 2px;
        }
      }

    }
  }
  

}


@include mq-only("sm","md"){

  .crafts{

    .product-item{
      width: 80%;
      margin: auto;
        .product-image{
          height: 479px;
          width: 100%
        }
    }
  }



}

@include mq-only("md","xl"){

.crafts{
  .product-item{
    padding-top: 25px;
  }
}
.pro-detail{
  #pro-detail{
    margin-top: 100px;
    width: 80%;
    
    .image-detail{
      .image-name{

          padding: 3px 0;

          h2, .rupee{
            font-size: 20px;
            padding-bottom: 3px;
          }

          .detail-content{
            font-size: 10px;
          }
       }
          p{
            font-size: 10px;
          }
    }
    .item-detail{

      padding: 3px 0;
      
      .describe{
        padding: 3px 0;
        width: 100%;
      }
      h3{
        font-size: 12px;
      }
      .policy{
        font-size: 10px;
        padding: 3px 0;
        width: 100%;
      }

    }
    .add-to-cart{
      .quantity{
        padding: 3px 0;
        margin-left: 5px;
        width: 50%;
      }
      .cart-btn{
        width: 45%;
        margin: 16px 0 0 2px;
      }
    }
  }
}

}