.nav-items{
width: 100%;
padding:10px 45px 10px;
 position: absolute;
 z-index: 1;
 top: 0;
 transition: 1s;

  .nav-list{
    list-style:none;
    float: right;
    padding-top:45px;

    li{
      float:left;
      padding-right:20px;

      a{
        color:$heading;
        font-weight:700;

        &:hover{
          color:$nav-hover;
        }
      
        i{
          padding-left:5px;
        }

        }

        .dropdown-content{
          position:absolute;
          display:none;
          background-color:$white;
          list-style:none;
          width:18%;
          padding-top:10px;

          li{
            float:none;
            padding:15px;

              a{
                display:block;
                font-weight:300;
                color:$content-color;
              
                &:hover{
                  color:$heading;
                }
              }
            }
          }

          &:hover .dropdown-content{
            display:block;
          }
      
      }
  }

  .logo{
   float:left;
   
      a{
        display: block;
      }
    }
    .nav-icon {
      display: none;
    }

    .mobile-icon{
      display: none;
    }
}
 .nav-fixed{
  
    position: fixed;
    width: 100%;
    padding: 5px 45px 0; 
    z-index:10;
    background-color:$white;
    box-shadow: 13px 14px 19px -11px rgba(0,0,0,0.46);
    .nav-list{
       padding-top: 24PX;
      .dropdown-content{
        z-index: 1;
        box-shadow: 13px 14px 19px -11px rgba(0,0,0,0.46);
      }
  }
    img{
      width: 100px;
    }

 }

 @include mq-only("xs","md"){
   .nav-items{
       padding: 10px 20px;

       .nav-list{
        padding-top: 0;
       }
   
      .logo{

        img{
          width: 40%;
        }
      }
      .navigation{

        .nav-list{
        display:none;
        }
      }

      .nav-icon:checked ~ .navigation { 
        display: block;

        .nav-list{
          display:block;
          background-color:$white ;
          border:2px solid rgba($heading,0.4);
          width: 92%;
          z-index: 12;
          position: absolute;
          right: 4%;
          top: 65px;
       
            li{
            width: 100%;
            padding: 1em 5%;
            text-align: left;

            i{
              float:right;
            }

            .dropdown-content{
             position: relative;
             border:2px solid rgba($heading,0.4);
             width: 112%;
             top: 10px;
             left: -6%;
             box-shadow: none;

            li{
              &:hover{
                color:$btn;
              }
             }
            }
          }
        }
      }
      
      .mobile-icon{
        display: block;
        color: $heading;
        padding-top: 4px;
        padding-right: 8px;
        float: right;

        i{
          font-size:12px;
        }
      }
  }  
}
  


@include mq-only("md","lg"){
  .nav-items{

    .nav-list{
      padding-top:30px;
    
      li{

        a{
          font-size:12px;
        }
      }
    }
    
    .logo{

      img{
        width:70%;
      }
    }
  }
}



