.regular ,.responsive,.most-viewed,.crafts{
  .slick-prev:before,.slick-next:before{
    font-size: 50px;
    z-index: 1;
    color: $content-color;
    &:hover{
      color: $black;
    }
}

.most-viewed{

  width: 70%;
}

.slick-slide {
  margin: 0px 20px;
  }
  
  .product-item{
    .product-image {
        height: 278px;
      box-shadow: 0px 2px 11px 1px rgba(0,0,0,0.5);
      position: relative;
      display: block; 

      &:hover{
        .overlay-text {
          visibility: visible;
         transform: translate(-50%, -50%) scale(1); 
        }
      } 
      img {
        width: 100%; 
      } 
      .overlay-text {
        visibility: hidden;
        position: absolute;
        top: 50%;
        left: 49%;
        transition: all .7s ease 0s;
        transform: translate(-50%, -50%) scale(0);
        display: flex; 

        ul {
          background-color:$white;

          li {
            list-style: none;
             float: left;
            padding: 10px; 

            i {
              color: #abadae;
             font-size: 30px; 
             &:hover{
               color:$btn;
             }
            }
          }
        }
      }

    
        img{
          height: 100%;
        }
        .price{
          position: absolute;
          font-size: 12px;
          top: 12px;
          right: 12px;
          color: $white;
          padding: 16px 11px;
          background: $heading;
          border-radius: 50%;
        }
    }
    .product-content{
      padding-top:10px;
      ul{
        float: right;
        li{
          list-style: none;
          float: left;
          color:$heading;
        }
      }
      .text-hover{
        padding-bottom: 5px;
        &:hover{
          color:$content-color;
          
        }
      }
      h4{
        font-size: 14px;
        color:$heading;
        font-weight:normal;
        font-family:$default-font;
       
      }
      p{
        color:$btn;
        font-size:12px;
        
      }
    }

    .product-img{
      height: 245px;
    }
  }
}

  @include mq-only("xs","md"){

    .regular,.most-viewed{
      width: 90%;
      .slick-prev:before,.slick-next:before{
        font-size: 25px;
      }
      .slick-prev:before{
        margin-left: 20px;
      }
      .slick-dots {

        li{
  
          button {
            display: none;
          }
        } 
      }
    }
  }
    
    @include mq-only("md","lg"){

     .regular,.most-viewed{

      width: 80%;
      
     }
     .latest-arrivals{

         .product-item{

            .product-img{
              height: 300px;
            }
          }
        }

      }


    
    @include mq-only("lg","xl"){

      .regular,.most-viewed{
 
       width: 80%;
 
      }
 
     }
 
     