.service-section{
  border-bottom: 1px solid $border-bottom;
  text-align: center;
  background-color: #f6f6f6;
  
  .services{
    padding-top: 40px;
    i{
      font-size: 35px;
      color: $btn;
    }
    h4{
      color: $heading;
    }
    p{
      color: $content-color;
      font-size: 14px;
    }
    .service-content{
      padding-bottom: 20px;
    }
  }

}