.subscribe-section{
  
    p{
    text-align: center;
    color : $content-color;
    padding-bottom: 20px;
  }
  form{
    position: relative;
      .input-text{
        width: 50%;
        background: transparent;
        border: 2px solid $input-border;
        color: $placeholder;
        margin: auto;
        display: block;
        padding: 20px ;

      }

      .btn-subscribes,.subscribe-button{
        width: 7%;
        padding: 18px 0;
        text-align: center;
        position: absolute;
        right: 26%;
        top: 3px;
        border: none;
        color: $content-color;
        letter-spacing: 2px;
      &:hover{
        background-color: transparent;
        color: $heading;
        
      }
    }
    
      .subscribe-button{
        display:none;
      }
    
    
  }
  #message-box{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    
    &:target {
    visibility: visible;
    opacity: 1;
  }
  .popup {
    margin: 200px auto 0;
    padding: 50px;
    background: $white;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 2s ease-in-out;

    .popup-msg{
      font-size: 30px;
    }
}
      
      .close {
        position: absolute;
        top: 5px;
        right: 18px;
        transition: all 200ms;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        color: $heading;

        &:hover {
          color: $btn;
        }
      }
      .content {
        max-height: 30%;
        overflow: auto;
        font-size: 20px;
        text-align: center;
        color: $content-color;
        padding-top: 25px;
      }
    }
  }
  @include mq-only("xs","md"){
    .subscribe-section{
      form{
        .input-text{
          width:100%;
        }
        .btn-subscribes{
          display:none;
        }
        .subscribe-button{
          display:block;
          right:5%;
        }
      }
      #message-box{
        .popup{
          width:50%;
          padding:30px;

          .popup-msg{
            font-size: 10px;
          }
          .content{
            font-size:12px;
            padding-top: 5px;
          }
          .close{
            font-size:18px;
          }
        }
      }
    }
   
  }

  @include mq-only("md","lg"){
    .subscribe-section{
    form{

      .btn-subscribes{
        right: 28%;
        letter-spacing: 0;
        display:block;
      }
    }

    #message-box{
      .popup{
        width:39%;
        padding:30px;

        .popup-msg{
          font-size: 10px;
        }
        .content{
          font-size:12px;
          padding-top: 5px;
        }
        .close{
          font-size:18px;
        }
      }
    }

  }

  }

  @include mq-only("lg" ,"xl" ){

    .subscribe-section{
      form{
  
        .btn-subscribes{
          right: 27%;
         
          letter-spacing: 0;
        }
      }

      #message-box{
        .popup{
          width:39%;
          padding:30px;
  
          .popup-msg{
            font-size: 10px;
          }
          .content{
            font-size:12px;
            padding-top: 5px;
          }
          .close{
            font-size:18px;
          }
        }
      }

    }

  }

  