.welcome{
  text-align:center;
  
  .welcome-para{
    width:55%;
    display: inline-block;
    span{
      color:$heading;
      font-weight:500;
    }
  }
}

@include mq-only("xs","md"){

  .welcome{
    
   
    i{
      font-size: 30px;
      padding-top: 20px; 
    }
  }
}