
.collective-item{
  height:212px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding: 42px 22px;
  transition: transform .3s ease-out;
  box-shadow: 13px 9px 43px -22px;
  .collection-heading{
    text-align: left;
    line-height: 1;
    font-weight: normal;
    padding-bottom: 20px;
    font-size: 30px;
    width: 45%;
    }
    .collective2{
      width:69%;
    }
    a{
      color:$black;
     &:hover{
       color:$btn;
     }
    }
    &:hover{
      transform: scale(1.1);
    }
    h4{
      font-size:12px;
    }
    .collective-heading{
      padding-bottom:2px;
    }
    p{
      font-size:18px;
      padding-bottom:35px;
    }
    
}

.item1{
  background-image:url('../images/item1.jpg');

}
.item2{
  background-image:url('../images/item11.jpg');

}
.item3{
  background-image:url('../images/item10.jpg');
}
.item4{
  background-image:url('../images/item4.jpg');
 
}
.item5{
  background-image:url('../images/item5.jpg');
}


.sale{
  .collective-item{
    &:hover{
      transform: scale(1.05);
    }
  }
}

@include mq-only("xs","md"){

  .collective-item{
    margin-bottom:25px;
 
  p{
    font-size: 14px;
  }
  .collection-heading{
    font-size: 25px;
  }
  a{
    font-size: 12px;
  }

  }
}

@include mq-only("xs","sm"){
  .feature-products{

    .sale{

      .collective-item{
        height: 137px;
        padding-top: 20px;
      

        p{
        padding-bottom: 10px;
        }
      }
    }
  }
}


@include mq-only("sm","md"){
  .feature-products{

    .sale{

      .collective-item{
        height: 200px;
        padding-top: 50px;
      
      }
    }
  }
}

@include mq-only("md","lg"){

      .collective-item{
        background-position-x: center;
      
      }
}
