.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  float: left;
  position: relative;
  padding-right: 15px;
  padding-left: 15px; }

@media (min-width: 0) {
  .col-xs-12 {
    width: 100%; }

  .col-xs-11 {
    width: 91.66666667%; }

  .col-xs-10 {
    width: 83.33333333%; }

  .col-xs-9 {
    width: 75%; }

  .col-xs-8 {
    width: 66.66666667%; }

  .col-xs-7 {
    width: 58.33333333%; }

  .col-xs-6 {
    width: 50%; }

  .col-xs-5 {
    width: 41.66666667%; }

  .col-xs-4 {
    width: 33.33333333%; }

  .col-xs-3 {
    width: 25%; }

  .col-xs-2 {
    width: 16.66666667%; }

  .col-xs-1 {
    width: 8.33333333%; } }
@media (min-width: 576px) {
  .col-sm-12 {
    width: 100%; }

  .col-sm-11 {
    width: 91.66666667%; }

  .col-sm-10 {
    width: 83.33333333%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-8 {
    width: 66.66666667%; }

  .col-sm-7 {
    width: 58.33333333%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-5 {
    width: 41.66666667%; }

  .col-sm-4 {
    width: 33.33333333%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-2 {
    width: 16.66666667%; }

  .col-sm-1 {
    width: 8.33333333%; } }
@media (min-width: 768px) {
  .col-md-12 {
    width: 100%; }

  .col-md-11 {
    width: 91.66666667%; }

  .col-md-10 {
    width: 83.33333333%; }

  .col-md-9 {
    width: 75%; }

  .col-md-8 {
    width: 66.66666667%; }

  .col-md-7 {
    width: 58.33333333%; }

  .col-md-6 {
    width: 50%; }

  .col-md-5 {
    width: 41.66666667%; }

  .col-md-4 {
    width: 33.33333333%; }

  .col-md-3 {
    width: 25%; }

  .col-md-2 {
    width: 16.66666667%; }

  .col-md-1 {
    width: 8.33333333%; } }
@media (min-width: 992px) {
  .col-lg-12 {
    width: 100%; }

  .col-lg-11 {
    width: 91.66666667%; }

  .col-lg-10 {
    width: 83.33333333%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-8 {
    width: 66.66666667%; }

  .col-lg-7 {
    width: 58.33333333%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-5 {
    width: 41.66666667%; }

  .col-lg-4 {
    width: 33.33333333%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-2 {
    width: 16.66666667%; }

  .col-lg-1 {
    width: 8.33333333%; } }
@media (min-width: 1201px) {
  .col-xl-12 {
    width: 100%; }

  .col-xl-11 {
    width: 91.66666667%; }

  .col-xl-10 {
    width: 83.33333333%; }

  .col-xl-9 {
    width: 75%; }

  .col-xl-8 {
    width: 66.66666667%; }

  .col-xl-7 {
    width: 58.33333333%; }

  .col-xl-6 {
    width: 50%; }

  .col-xl-5 {
    width: 41.66666667%; }

  .col-xl-4 {
    width: 33.33333333%; }

  .col-xl-3 {
    width: 25%; }

  .col-xl-2 {
    width: 16.66666667%; }

  .col-xl-1 {
    width: 8.33333333%; } }
.nav-items {
  width: 100%;
  padding: 10px 45px 10px;
  position: absolute;
  z-index: 1;
  top: 0;
  transition: 1s; }
  .nav-items .nav-list {
    list-style: none;
    float: right;
    padding-top: 45px; }
    .nav-items .nav-list li {
      float: left;
      padding-right: 20px; }
      .nav-items .nav-list li a {
        color: #1d7a8c;
        font-weight: 700; }
        .nav-items .nav-list li a:hover {
          color: #909090; }
        .nav-items .nav-list li a i {
          padding-left: 5px; }
      .nav-items .nav-list li .dropdown-content {
        position: absolute;
        display: none;
        background-color: #fff;
        list-style: none;
        width: 18%;
        padding-top: 10px; }
        .nav-items .nav-list li .dropdown-content li {
          float: none;
          padding: 15px; }
          .nav-items .nav-list li .dropdown-content li a {
            display: block;
            font-weight: 300;
            color: #abadae; }
            .nav-items .nav-list li .dropdown-content li a:hover {
              color: #1d7a8c; }
      .nav-items .nav-list li:hover .dropdown-content {
        display: block; }
  .nav-items .logo {
    float: left; }
    .nav-items .logo a {
      display: block; }
  .nav-items .nav-icon {
    display: none; }
  .nav-items .mobile-icon {
    display: none; }

.nav-fixed {
  position: fixed;
  width: 100%;
  padding: 5px 45px 0;
  z-index: 10;
  background-color: #fff;
  box-shadow: 13px 14px 19px -11px rgba(0, 0, 0, 0.46); }
  .nav-fixed .nav-list {
    padding-top: 24PX; }
    .nav-fixed .nav-list .dropdown-content {
      z-index: 1;
      box-shadow: 13px 14px 19px -11px rgba(0, 0, 0, 0.46); }
  .nav-fixed img {
    width: 100px; }

@media (min-width: 0) and (max-width: 767px) {
  .nav-items {
    padding: 10px 20px; }
    .nav-items .nav-list {
      padding-top: 0; }
    .nav-items .logo img {
      width: 40%; }
    .nav-items .navigation .nav-list {
      display: none; }
    .nav-items .nav-icon:checked ~ .navigation {
      display: block; }
      .nav-items .nav-icon:checked ~ .navigation .nav-list {
        display: block;
        background-color: #fff;
        border: 2px solid rgba(29, 122, 140, 0.4);
        width: 92%;
        z-index: 12;
        position: absolute;
        right: 4%;
        top: 65px; }
        .nav-items .nav-icon:checked ~ .navigation .nav-list li {
          width: 100%;
          padding: 1em 5%;
          text-align: left; }
          .nav-items .nav-icon:checked ~ .navigation .nav-list li i {
            float: right; }
          .nav-items .nav-icon:checked ~ .navigation .nav-list li .dropdown-content {
            position: relative;
            border: 2px solid rgba(29, 122, 140, 0.4);
            width: 112%;
            top: 10px;
            left: -6%;
            box-shadow: none; }
            .nav-items .nav-icon:checked ~ .navigation .nav-list li .dropdown-content li:hover {
              color: #ec8074; }
    .nav-items .mobile-icon {
      display: block;
      color: #1d7a8c;
      padding-top: 4px;
      padding-right: 8px;
      float: right; }
      .nav-items .mobile-icon i {
        font-size: 12px; } }
@media (min-width: 768px) and (max-width: 991px) {
  .nav-items .nav-list {
    padding-top: 30px; }
    .nav-items .nav-list li a {
      font-size: 12px; }
  .nav-items .logo img {
    width: 70%; } }
.banner-slider {
  width: 100%;
  margin-top: -30px; }
  .banner-slider .headers:hover .slickarrowleft, .banner-slider .headers:hover .slickarrowright {
    visibility: visible; }
  .banner-slider .headers .header1, .banner-slider .headers .header2, .banner-slider .headers .header3, .banner-slider .headers .header4, .banner-slider .headers .header5 {
    background-size: cover;
    background-repeat: no-repeat;
    height: 900px;
    width: 100%; }
    .banner-slider .headers .header1 .header-heading, .banner-slider .headers .header2 .header-heading, .banner-slider .headers .header3 .header-heading, .banner-slider .headers .header4 .header-heading, .banner-slider .headers .header5 .header-heading {
      padding-top: 300px; }
      .banner-slider .headers .header1 .header-heading .banner-btn, .banner-slider .headers .header2 .header-heading .banner-btn, .banner-slider .headers .header3 .header-heading .banner-btn, .banner-slider .headers .header4 .header-heading .banner-btn, .banner-slider .headers .header5 .header-heading .banner-btn {
        border: 2px solid #ec8074;
        margin: 25px auto 0;
        display: block; }
  .banner-slider .headers .header1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(252, 29, 29, 0.1)), url("../images/banner-bg1.png"); }
  .banner-slider .headers .header2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(252, 29, 29, 0.1)), url("../images/banner-bg2.jpg"); }
  .banner-slider .headers .header3 {
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(252, 29, 29, 0.1)), url("../images/banner-bg3.jpg"); }
  .banner-slider .headers .header4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(252, 29, 29, 0.1)), url("../images/banner-bg4.jpg"); }
  .banner-slider .headers .header5 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(252, 29, 29, 0.1)), url("../images/banner-bg5.jpg"); }
  .banner-slider .slick-dots li button {
    margin-top: 45px; }
  .banner-slider .slickarrowleft, .banner-slider .slickarrowright {
    border-radius: 50%;
    cursor: pointer;
    top: 50%;
    background-color: #fff;
    position: absolute;
    font-size: 13px;
    color: #abadae;
    border: 1px solid #abadae;
    z-index: 1;
    visibility: hidden; }
    .banner-slider .slickarrowleft:hover, .banner-slider .slickarrowright:hover {
      color: #fff;
      background-color: #000;
      border: none; }
  .banner-slider .slickarrowleft {
    left: 20px;
    padding: 18px 22px 18px 21px; }
  .banner-slider .slickarrowright {
    right: 20px;
    padding: 18px 21px 18px 22px; }

.innerpages-bg .header {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("../images/innerbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 590px; }
  .innerpages-bg .header .header-heading {
    padding-top: 200px; }
    .innerpages-bg .header .header-heading h1 {
      font-size: 50px; }
    .innerpages-bg .header .header-heading .banner-para {
      font-size: 20px; }

@media (min-width: 0) and (max-width: 767px) {
  .banner-slider .headers .header1, .banner-slider .headers .header2, .banner-slider .headers .header3, .banner-slider .headers .header4, .banner-slider .headers .header5 {
    height: 600px; }
    .banner-slider .headers .header1 .header-heading, .banner-slider .headers .header2 .header-heading, .banner-slider .headers .header3 .header-heading, .banner-slider .headers .header4 .header-heading, .banner-slider .headers .header5 .header-heading {
      padding-top: 200px; }
      .banner-slider .headers .header1 .header-heading h1, .banner-slider .headers .header2 .header-heading h1, .banner-slider .headers .header3 .header-heading h1, .banner-slider .headers .header4 .header-heading h1, .banner-slider .headers .header5 .header-heading h1 {
        font-size: 30px; }
      .banner-slider .headers .header1 .header-heading p, .banner-slider .headers .header2 .header-heading p, .banner-slider .headers .header3 .header-heading p, .banner-slider .headers .header4 .header-heading p, .banner-slider .headers .header5 .header-heading p {
        font-size: 18px; }
      .banner-slider .headers .header1 .header-heading .banner-btn, .banner-slider .headers .header2 .header-heading .banner-btn, .banner-slider .headers .header3 .header-heading .banner-btn, .banner-slider .headers .header4 .header-heading .banner-btn, .banner-slider .headers .header5 .header-heading .banner-btn {
        width: 30%; }

  .innerpages-bg .header {
    height: 200px; }
    .innerpages-bg .header .header-heading {
      padding-top: 60px; }
      .innerpages-bg .header .header-heading h1 {
        font-size: 20px; }
      .innerpages-bg .header .header-heading .banner-para {
        font-size: 10px; } }
@media (min-width: 768px) and (max-width: 991px) {
  .banner-slider .headers .header-heading .banner-btn {
    width: 18%; } }
@media (min-width: 0) and (max-width: 575px) {
  .banner-slider .headers:hover .slickarrowleft, .banner-slider .headers:hover .slickarrowright {
    visibility: hidden; }
  .banner-slider .headers .header-heading .banner-btn {
    width: 45%; } }
.welcome {
  text-align: center; }
  .welcome .welcome-para {
    width: 55%;
    display: inline-block; }
    .welcome .welcome-para span {
      color: #1d7a8c;
      font-weight: 500; }

@media (min-width: 0) and (max-width: 767px) {
  .welcome i {
    font-size: 30px;
    padding-top: 20px; } }
.collective-item {
  height: 212px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding: 42px 22px;
  transition: transform .3s ease-out;
  box-shadow: 13px 9px 43px -22px; }
  .collective-item .collection-heading {
    text-align: left;
    line-height: 1;
    font-weight: normal;
    padding-bottom: 20px;
    font-size: 30px;
    width: 45%; }
  .collective-item .collective2 {
    width: 69%; }
  .collective-item a {
    color: #000; }
    .collective-item a:hover {
      color: #ec8074; }
  .collective-item:hover {
    transform: scale(1.1); }
  .collective-item h4 {
    font-size: 12px; }
  .collective-item .collective-heading {
    padding-bottom: 2px; }
  .collective-item p {
    font-size: 18px;
    padding-bottom: 35px; }

.item1 {
  background-image: url("../images/item1.jpg"); }

.item2 {
  background-image: url("../images/item11.jpg"); }

.item3 {
  background-image: url("../images/item10.jpg"); }

.item4 {
  background-image: url("../images/item4.jpg"); }

.item5 {
  background-image: url("../images/item5.jpg"); }

.sale .collective-item:hover {
  transform: scale(1.05); }

@media (min-width: 0) and (max-width: 767px) {
  .collective-item {
    margin-bottom: 25px; }
    .collective-item p {
      font-size: 14px; }
    .collective-item .collection-heading {
      font-size: 25px; }
    .collective-item a {
      font-size: 12px; } }
@media (min-width: 0) and (max-width: 575px) {
  .feature-products .sale .collective-item {
    height: 137px;
    padding-top: 20px; }
    .feature-products .sale .collective-item p {
      padding-bottom: 10px; } }
@media (min-width: 576px) and (max-width: 767px) {
  .feature-products .sale .collective-item {
    height: 200px;
    padding-top: 50px; } }
@media (min-width: 768px) and (max-width: 991px) {
  .collective-item {
    background-position-x: center; } }
.about-us .aboutus-box {
  border: 4px solid #1d7a8c;
  padding: 30px;
  margin-top: 30px;
  margin-left: -29%;
  box-shadow: 9px 7px 25px 6px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  width: 100%;
  margin: 0 auto;
  overflow: auto; }
  .about-us .aboutus-box h2 span {
    color: #ec8074; }
  .about-us .aboutus-box p span {
    color: #1d7a8c;
    text-align: center; }
.about-us .about-me {
  text-align: left;
  margin-top: 80px;
  padding: 20px; }
  .about-us .about-me .about-img {
    position: relative;
    text-align: center; }
    .about-us .about-me .about-img:before {
      content: '';
      position: absolute;
      height: 80%;
      width: 60%;
      background: rgba(29, 122, 140, 0.7);
      bottom: -7%;
      right: 12%;
      z-index: 2; }
    .about-us .about-me .about-img:after {
      content: '';
      position: absolute;
      z-index: 3;
      top: -6%;
      left: 13%;
      height: 30%;
      width: 20%;
      border-left: 4px solid #1d7a8c;
      border-top: 4px solid #1d7a8c; }
    .about-us .about-me .about-img img {
      width: 65%;
      z-index: 3;
      position: relative; }
  .about-us .about-me .aboutme-text {
    padding-bottom: 20px; }
    .about-us .about-me .aboutme-text h2 {
      font-size: 30px;
      padding-bottom: 10px; }
    .about-us .about-me .aboutme-text p {
      font-size: 16px;
      color: #abadae;
      padding-bottom: 10px; }
      .about-us .about-me .aboutme-text p span {
        color: #1d7a8c; }
  .about-us .about-me .aboutme-box {
    background-color: rgba(29, 122, 140, 0.7);
    padding: 20px 40px 10px;
    box-shadow: 17px 15px 45px -6px rgba(0, 0, 0, 0.25); }
    .about-us .about-me .aboutme-box p {
      color: #fff;
      font-weight: 700;
      padding-bottom: 10px;
      font-size: 14px; }
      .about-us .about-me .aboutme-box p .para-details {
        color: #fff;
        padding-left: 15px;
        font-weight: 300; }
        .about-us .about-me .aboutme-box p .para-details:hover {
          color: #1d7a8c; }

.FAQ h2 i {
  padding-left: 10px; }
.FAQ .accordion {
  max-width: 900px;
  margin: 20px auto;
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: left; }
  .FAQ .accordion .accordion-header {
    border-bottom: 1px solid #cccccc;
    color: #1d7a8c;
    cursor: pointer;
    font-weight: 700;
    padding: 1.5rem;
    transition: background-color 0.3s; }
    .FAQ .accordion .accordion-header:hover {
      background-color: #ec8074;
      color: #fff; }
    .FAQ .accordion .accordion-header::before {
      content: '';
      vertical-align: middle;
      display: inline-block;
      width: 0.75rem;
      height: 0.75rem;
      border-radius: 50%;
      background-color: #abadae;
      margin-right: .75rem; }
  .FAQ .accordion .accordion-content {
    display: none;
    border-bottom: 1px solid #cccccc;
    padding: 1.5rem;
    color: #abadae; }
    .FAQ .accordion .accordion-content a {
      text-decoration: underline;
      color: #ec8074; }
    .FAQ .accordion .accordion-content span {
      font-weight: 700;
      color: #1d7a8c; }

@media (min-width: 0) and (max-width: 767px) {
  .about-us .aboutus-box .welcome-para {
    display: none; }
  .about-us .accordion {
    font-size: 10px; }
    .about-us .accordion .accordion-header {
      padding: 10px; }
      .about-us .accordion .accordion-header::before {
        display: none; }
    .about-us .accordion .accordion-content {
      padding: 12px; } }
@media (min-width: 0) and (max-width: 1200px) {
  .about-us .aboutus-box {
    padding: 10px; }
    .about-us .aboutus-box p {
      font-size: 12px; }
  .about-us .about-me {
    margin-top: 30px; }
    .about-us .about-me .about-img {
      text-align: center;
      margin-bottom: 20px; }
      .about-us .about-me .about-img::before {
        width: 55%;
        bottom: -6%;
        right: 16%; }
      .about-us .about-me .about-img::after {
        top: -6%;
        left: 19%;
        height: 25%;
        width: 17%;
        border-left: 2px solid #1d7a8c;
        border-top: 2px solid #1d7a8c; }
      .about-us .about-me .about-img img {
        width: 55%; }
    .about-us .about-me .aboutme-text {
      padding-top: 20px;
      text-align: center; }
      .about-us .about-me .aboutme-text h2 {
        font-size: 20px; }
      .about-us .about-me .aboutme-text p {
        font-size: 12px; }
    .about-us .about-me .aboutme-box {
      padding: 20px;
      margin-bottom: 12px; }
      .about-us .about-me .aboutme-box p {
        font-size: 10px; }
        .about-us .about-me .aboutme-box p .para-details {
          padding-left: 10px; }
    .about-us .about-me .aboutme-content {
      margin-bottom: 30px; } }
@media (min-width: 768px) and (max-width: 1200px) {
  .about-us .about-me .about-img {
    margin-top: 63px; }
  .about-us .accordion {
    font-size: 15px; } }
footer {
  background-color: #f6f6f6; }
  footer .footer-items img {
    width: 25%; }
  footer .footer-items p {
    width: 75%;
    font-family: 'Shadows Into Light', cursive;
    color: #abadae; }
  footer .footer-items h4 {
    color: #1d7a8c;
    font-size: 18px; }
  footer .footer-items .short-description {
    padding-top: 15px; }
  footer .footer-items .social-icons li {
    list-style: none;
    display: inline-block;
    width: 32px;
    text-align: center;
    height: 30px;
    padding-top: 3px; }
    footer .footer-items .social-icons li:hover {
      background: #abadae;
      color: #fff;
      border-radius: 50%; }
  footer .footer-nav li {
    list-style: none;
    padding-bottom: 15px;
    padding-top: 15px; }
    footer .footer-nav li a {
      color: #abadae;
      font-size: 14px;
      font-weight: 700; }
      footer .footer-nav li a:hover {
        color: #1d7a8c; }
  footer .footer-rights {
    border-top: 1px solid #ebebeb; }
    footer .footer-rights p {
      text-align: center;
      font-size: 14px;
      color: #abadae;
      padding: 20px 0; }

@media (min-width: 0) and (max-width: 767px) {
  footer .footer-content {
    text-align: center; }
    footer .footer-content .footer-items p {
      width: 100%; }
    footer .footer-content .footer-items .short-description {
      padding-top: 20px; }
    footer .footer-content .footer-nav ul li a {
      font-size: 10px; }
  footer .footer-rights p {
    font-size: 12px; } }
.subscribe-section p {
  text-align: center;
  color: #abadae;
  padding-bottom: 20px; }
.subscribe-section form {
  position: relative; }
  .subscribe-section form .input-text {
    width: 50%;
    background: transparent;
    border: 2px solid #cccccc;
    color: #bbbbbb;
    margin: auto;
    display: block;
    padding: 20px; }
  .subscribe-section form .btn-subscribes, .subscribe-section form .subscribe-button {
    width: 7%;
    padding: 18px 0;
    text-align: center;
    position: absolute;
    right: 26%;
    top: 3px;
    border: none;
    color: #abadae;
    letter-spacing: 2px; }
    .subscribe-section form .btn-subscribes:hover, .subscribe-section form .subscribe-button:hover {
      background-color: transparent;
      color: #1d7a8c; }
  .subscribe-section form .subscribe-button {
    display: none; }
.subscribe-section #message-box {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 1; }
  .subscribe-section #message-box:target {
    visibility: visible;
    opacity: 1; }
  .subscribe-section #message-box .popup {
    margin: 200px auto 0;
    padding: 50px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 2s ease-in-out; }
    .subscribe-section #message-box .popup .popup-msg {
      font-size: 30px; }
  .subscribe-section #message-box .close {
    position: absolute;
    top: 5px;
    right: 18px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #1d7a8c; }
    .subscribe-section #message-box .close:hover {
      color: #ec8074; }
  .subscribe-section #message-box .content {
    max-height: 30%;
    overflow: auto;
    font-size: 20px;
    text-align: center;
    color: #abadae;
    padding-top: 25px; }

@media (min-width: 0) and (max-width: 767px) {
  .subscribe-section form .input-text {
    width: 100%; }
  .subscribe-section form .btn-subscribes {
    display: none; }
  .subscribe-section form .subscribe-button {
    display: block;
    right: 5%; }
  .subscribe-section #message-box .popup {
    width: 50%;
    padding: 30px; }
    .subscribe-section #message-box .popup .popup-msg {
      font-size: 10px; }
    .subscribe-section #message-box .popup .content {
      font-size: 12px;
      padding-top: 5px; }
    .subscribe-section #message-box .popup .close {
      font-size: 18px; } }
@media (min-width: 768px) and (max-width: 991px) {
  .subscribe-section form .btn-subscribes {
    right: 28%;
    letter-spacing: 0;
    display: block; }
  .subscribe-section #message-box .popup {
    width: 39%;
    padding: 30px; }
    .subscribe-section #message-box .popup .popup-msg {
      font-size: 10px; }
    .subscribe-section #message-box .popup .content {
      font-size: 12px;
      padding-top: 5px; }
    .subscribe-section #message-box .popup .close {
      font-size: 18px; } }
@media (min-width: 992px) and (max-width: 1200px) {
  .subscribe-section form .btn-subscribes {
    right: 27%;
    letter-spacing: 0; }
  .subscribe-section #message-box .popup {
    width: 39%;
    padding: 30px; }
    .subscribe-section #message-box .popup .popup-msg {
      font-size: 10px; }
    .subscribe-section #message-box .popup .content {
      font-size: 12px;
      padding-top: 5px; }
    .subscribe-section #message-box .popup .close {
      font-size: 18px; } }
.service-section {
  border-bottom: 1px solid #ebebeb;
  text-align: center;
  background-color: #f6f6f6; }
  .service-section .services {
    padding-top: 40px; }
    .service-section .services i {
      font-size: 35px;
      color: #ec8074; }
    .service-section .services h4 {
      color: #1d7a8c; }
    .service-section .services p {
      color: #abadae;
      font-size: 14px; }
    .service-section .services .service-content {
      padding-bottom: 20px; }

.form {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(252, 29, 29, 0.2));
  margin: 50px;
  box-shadow: 10px 11px 31px -5px rgba(0, 0, 0, 0.25); }
  .form .contact h2 {
    padding-bottom: 20px;
    text-align: left; }
  .form .contact form .input-text {
    margin-bottom: 20px;
    border: 1px solid #fff;
    color: #bbbbbb;
    background: transparent;
    padding: 20px; }
    .form .contact form .input-text:hover {
      background-color: rgba(236, 128, 116, 0.1); }
  .form .contact form .btn {
    width: 21%;
    margin: 0 auto;
    display: grid;
    padding: 10px 0;
    color: #ec8074;
    transition: background-color 1s; }
    .form .contact form .btn:hover {
      background-color: #ec8074;
      color: #fff; }
  .form .contact-mediaicons {
    float: right;
    padding-top: 10%; }
    .form .contact-mediaicons i {
      font-size: 30px; }
    .form .contact-mediaicons a {
      padding: 10px;
      color: #fff;
      font-weight: 500; }
      .form .contact-mediaicons a:hover {
        color: #ec8074; }

@media (min-width: 0) and (max-width: 767px) {
  .form .contact h2 {
    text-align: center; }
  .form .contact form .input-text {
    width: 100%; }
  .form .contact form .btn {
    width: 40%; }
  .form .contact .contact-mediaicons {
    float: none;
    width: 450%;
    margin: auto; }
    .form .contact .contact-mediaicons .icons {
      padding-bottom: 15px; }
      .form .contact .contact-mediaicons .icons i {
        font-size: 20px; }
      .form .contact .contact-mediaicons .icons a {
        font-size: 10px;
        padding-left: 5px; } }
@media (min-width: 768px) and (max-width: 991px) {
  .form .contact .contact-mediaicons .icons i {
    font-size: 25px; }
  .form .contact .contact-mediaicons .icons a {
    padding-left: 10px;
    font-size: 12px; } }
.regular .slick-prev:before, .regular .slick-next:before, .responsive .slick-prev:before, .responsive .slick-next:before, .most-viewed .slick-prev:before, .most-viewed .slick-next:before, .crafts .slick-prev:before, .crafts .slick-next:before {
  font-size: 50px;
  z-index: 1;
  color: #abadae; }
  .regular .slick-prev:before:hover, .regular .slick-next:before:hover, .responsive .slick-prev:before:hover, .responsive .slick-next:before:hover, .most-viewed .slick-prev:before:hover, .most-viewed .slick-next:before:hover, .crafts .slick-prev:before:hover, .crafts .slick-next:before:hover {
    color: #000; }
.regular .most-viewed, .responsive .most-viewed, .most-viewed .most-viewed, .crafts .most-viewed {
  width: 70%; }
.regular .slick-slide, .responsive .slick-slide, .most-viewed .slick-slide, .crafts .slick-slide {
  margin: 0px 20px; }
.regular .product-item .product-image, .responsive .product-item .product-image, .most-viewed .product-item .product-image, .crafts .product-item .product-image {
  height: 278px;
  box-shadow: 0px 2px 11px 1px rgba(0, 0, 0, 0.5);
  position: relative;
  display: block; }
  .regular .product-item .product-image:hover .overlay-text, .responsive .product-item .product-image:hover .overlay-text, .most-viewed .product-item .product-image:hover .overlay-text, .crafts .product-item .product-image:hover .overlay-text {
    visibility: visible;
    transform: translate(-50%, -50%) scale(1); }
  .regular .product-item .product-image img, .responsive .product-item .product-image img, .most-viewed .product-item .product-image img, .crafts .product-item .product-image img {
    width: 100%; }
  .regular .product-item .product-image .overlay-text, .responsive .product-item .product-image .overlay-text, .most-viewed .product-item .product-image .overlay-text, .crafts .product-item .product-image .overlay-text {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 49%;
    transition: all .7s ease 0s;
    transform: translate(-50%, -50%) scale(0);
    display: flex; }
    .regular .product-item .product-image .overlay-text ul, .responsive .product-item .product-image .overlay-text ul, .most-viewed .product-item .product-image .overlay-text ul, .crafts .product-item .product-image .overlay-text ul {
      background-color: #fff; }
      .regular .product-item .product-image .overlay-text ul li, .responsive .product-item .product-image .overlay-text ul li, .most-viewed .product-item .product-image .overlay-text ul li, .crafts .product-item .product-image .overlay-text ul li {
        list-style: none;
        float: left;
        padding: 10px; }
        .regular .product-item .product-image .overlay-text ul li i, .responsive .product-item .product-image .overlay-text ul li i, .most-viewed .product-item .product-image .overlay-text ul li i, .crafts .product-item .product-image .overlay-text ul li i {
          color: #abadae;
          font-size: 30px; }
          .regular .product-item .product-image .overlay-text ul li i:hover, .responsive .product-item .product-image .overlay-text ul li i:hover, .most-viewed .product-item .product-image .overlay-text ul li i:hover, .crafts .product-item .product-image .overlay-text ul li i:hover {
            color: #ec8074; }
  .regular .product-item .product-image img, .responsive .product-item .product-image img, .most-viewed .product-item .product-image img, .crafts .product-item .product-image img {
    height: 100%; }
  .regular .product-item .product-image .price, .responsive .product-item .product-image .price, .most-viewed .product-item .product-image .price, .crafts .product-item .product-image .price {
    position: absolute;
    font-size: 12px;
    top: 12px;
    right: 12px;
    color: #fff;
    padding: 16px 11px;
    background: #1d7a8c;
    border-radius: 50%; }
.regular .product-item .product-content, .responsive .product-item .product-content, .most-viewed .product-item .product-content, .crafts .product-item .product-content {
  padding-top: 10px; }
  .regular .product-item .product-content ul, .responsive .product-item .product-content ul, .most-viewed .product-item .product-content ul, .crafts .product-item .product-content ul {
    float: right; }
    .regular .product-item .product-content ul li, .responsive .product-item .product-content ul li, .most-viewed .product-item .product-content ul li, .crafts .product-item .product-content ul li {
      list-style: none;
      float: left;
      color: #1d7a8c; }
  .regular .product-item .product-content .text-hover, .responsive .product-item .product-content .text-hover, .most-viewed .product-item .product-content .text-hover, .crafts .product-item .product-content .text-hover {
    padding-bottom: 5px; }
    .regular .product-item .product-content .text-hover:hover, .responsive .product-item .product-content .text-hover:hover, .most-viewed .product-item .product-content .text-hover:hover, .crafts .product-item .product-content .text-hover:hover {
      color: #abadae; }
  .regular .product-item .product-content h4, .responsive .product-item .product-content h4, .most-viewed .product-item .product-content h4, .crafts .product-item .product-content h4 {
    font-size: 14px;
    color: #1d7a8c;
    font-weight: normal;
    font-family: "Merienda", cursive; }
  .regular .product-item .product-content p, .responsive .product-item .product-content p, .most-viewed .product-item .product-content p, .crafts .product-item .product-content p {
    color: #ec8074;
    font-size: 12px; }
.regular .product-item .product-img, .responsive .product-item .product-img, .most-viewed .product-item .product-img, .crafts .product-item .product-img {
  height: 245px; }

@media (min-width: 0) and (max-width: 767px) {
  .regular, .most-viewed {
    width: 90%; }
    .regular .slick-prev:before, .regular .slick-next:before, .most-viewed .slick-prev:before, .most-viewed .slick-next:before {
      font-size: 25px; }
    .regular .slick-prev:before, .most-viewed .slick-prev:before {
      margin-left: 20px; }
    .regular .slick-dots li button, .most-viewed .slick-dots li button {
      display: none; } }
@media (min-width: 768px) and (max-width: 991px) {
  .regular, .most-viewed {
    width: 80%; }

  .latest-arrivals .product-item .product-img {
    height: 300px; } }
@media (min-width: 992px) and (max-width: 1200px) {
  .regular, .most-viewed {
    width: 80%; } }
.brands {
  text-align: center; }
  .brands .brand-item {
    margin-top: 30px;
    -webkit-box-shadow: 4px 5px 21px 2px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 5px 21px 2px rgba(0, 0, 0, 0.27); }
    .brands .brand-item:hover {
      background-color: rgba(171, 173, 174, 0.2); }
    .brands .brand-item img {
      width: 50%;
      height: 240px; }

@media (min-width: 0) and (max-width: 767px) {
  .brands .brand-item {
    width: 75%;
    margin: 10px auto; }

  .subscribe-section p {
    font-size: 10px; }
  .subscribe-section form .input-text {
    width: 90%; }
  .subscribe-section form .btn-subscribes {
    display: none; }
  .subscribe-section form .subscribe-button {
    display: block;
    right: 7%; }
  .subscribe-section #message-box .popup {
    width: 50%;
    padding: 30px; }
    .subscribe-section #message-box .popup .popup-msg {
      font-size: 10px; }
    .subscribe-section #message-box .popup .content {
      font-size: 12px;
      padding-top: 5px; }
    .subscribe-section #message-box .popup .close {
      font-size: 18px; } }
@media (min-width: 768px) and (max-width: 991px) {
  .brands .brand-item {
    width: 100%; }
    .brands .brand-item img {
      width: 65%; } }
@media (min-width: 0) and (max-width: 575px) {
  .section-padding {
    padding-top: 30px;
    padding-bottom: 30px; }

  .brands .brand-item img {
    width: auto;
    height: 100px; }

  .subscribe-section form .input-text {
    padding-bottom: 8px;
    padding-top: 8px; }
  .subscribe-section form .subscribe-button {
    top: -30%; } }
.crafts h2 span {
  color: #ec8074; }
.crafts .craft-list {
  text-align: center; }
  .crafts .craft-list ul {
    display: inline-flex;
    list-style: none; }
    .crafts .craft-list ul li {
      padding: 30px;
      color: #1d7a8c;
      font-size: 18px; }
      .crafts .craft-list ul li:hover {
        color: #abadae;
        cursor: pointer; }
.crafts .product-item {
  padding-top: 50px; }
.crafts .craft-btn {
  margin-top: 20px;
  float: right; }

.pro-detail {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.9);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 200; }
  .pro-detail:target {
    visibility: visible;
    opacity: 1; }
  .pro-detail .close {
    position: absolute;
    top: 5px;
    right: 18px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #1d7a8c; }
    .pro-detail .close:hover {
      color: #ec8074; }
  .pro-detail #pro-detail {
    margin: 75px auto 0;
    padding: 100px 50px;
    background: #fff;
    border-radius: 5px;
    width: 100%;
    position: relative;
    transition: 1s ease-in-out; }
    .pro-detail #pro-detail .product-detail-image {
      /* The Modal (background) */ }
      .pro-detail #pro-detail .product-detail-image .row {
        margin-top: 40px;
        float: left;
        width: 18%; }
        .pro-detail #pro-detail .product-detail-image .row .column {
          height: auto;
          width: 100%;
          margin-bottom: 6px;
          padding: 0 8px; }
          .pro-detail #pro-detail .product-detail-image .row .column .cursor {
            cursor: pointer; }
          .pro-detail #pro-detail .product-detail-image .row .column .hover-shadow {
            transition: 0.3s;
            width: 100%;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
      .pro-detail #pro-detail .product-detail-image .modal {
        margin-top: 12px;
        width: 80%;
        float: right;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        /* Modal Content */ }
        .pro-detail #pro-detail .product-detail-image .modal .modal-content {
          position: relative;
          background-color: #fefefe;
          margin: auto;
          padding: 0;
          width: 100%;
          max-width: 1200px;
          /* Number text (1/3 etc) */ }
          .pro-detail #pro-detail .product-detail-image .modal .modal-content .numbertext {
            color: #f2f2f2;
            font-size: 12px;
            padding: 8px 12px;
            position: absolute;
            top: 0; }
          .pro-detail #pro-detail .product-detail-image .modal .modal-content .hover-image {
            width: 100%;
            height: auto; }
    .pro-detail #pro-detail .image-detail .image-name {
      padding-bottom: 25px;
      border-bottom: 1px solid #abadae; }
      .pro-detail #pro-detail .image-detail .image-name h2 {
        text-align: left;
        padding-bottom: 25px; }
      .pro-detail #pro-detail .image-detail .image-name .detail-content {
        color: #000;
        font-size: 18px; }
      .pro-detail #pro-detail .image-detail .image-name .rupee {
        color: #1d7a8c;
        font-size: 14px;
        padding-bottom: 25px; }
      .pro-detail #pro-detail .image-detail .image-name .brand-name span, .pro-detail #pro-detail .image-detail .image-name .availibilty span {
        color: #ec8074;
        padding-left: 10px; }
    .pro-detail #pro-detail .item-detail {
      padding: 20px 0; }
      .pro-detail #pro-detail .item-detail h3 {
        color: #1d7a8c;
        font-size: 14px; }
      .pro-detail #pro-detail .item-detail .policy {
        font-size: 12px;
        padding: 5px 0; }
      .pro-detail #pro-detail .item-detail p {
        font-size: 14px;
        color: #000;
        width: 90%;
        padding: 10px 0; }
    .pro-detail #pro-detail .add-to-cart p {
      float: left; }
    .pro-detail #pro-detail .add-to-cart .cart-btn {
      width: 18%;
      display: inline-block;
      padding: 5px;
      margin: 0 0 0 15px;
      font-size: 12px; }
    .pro-detail #pro-detail .add-to-cart .buy-btn {
      background-color: #ec8074;
      color: #fff; }
      .pro-detail #pro-detail .add-to-cart .buy-btn:hover {
        background-color: transparent;
        color: #ec8074; }
    .pro-detail #pro-detail .add-to-cart .quantity {
      padding: 5px 0;
      margin-left: 15px; }

@media (min-width: 0) and (max-width: 767px) {
  .crafts .craft-list ul {
    display: block; }
    .crafts .craft-list ul li {
      border: 1px solid #1d7a8c;
      padding: 10px;
      margin-bottom: 10px; }
  .crafts .craft-btn {
    width: 35%; }

  .pro-detail #pro-detail {
    width: 80%;
    padding-bottom: 70px;
    padding-top: 50px; }
    .pro-detail #pro-detail .product-detail-image {
      padding: 0 15px 30px;
      text-align: -webkit-center; }
      .pro-detail #pro-detail .product-detail-image .row {
        float: none;
        width: 100%; }
        .pro-detail #pro-detail .product-detail-image .row .column {
          width: 23%;
          float: left; }
      .pro-detail #pro-detail .product-detail-image .modal {
        float: none;
        width: 100%; } }
@media (min-width: 0) and (max-width: 767px) {
  .crafts .product-item .product-image {
    height: 500px; } }
@media (min-width: 768px) and (max-width: 991px) {
  .crafts .product-item .product-image {
    height: 350px; }
  .crafts .craft-btn {
    width: 15%; } }
@media (min-width: 0) and (max-width: 575px) {
  .crafts .product-item .product-image {
    height: 325px; }
  .crafts .craft-list ul {
    display: block; }
    .crafts .craft-list ul li {
      border: 1px solid #1d7a8c;
      padding: 10px; }

  .pro-detail .close {
    right: 4%;
    font-size: 25px; }
  .pro-detail #pro-detail {
    margin-top: 25px;
    padding: 10px 10px 50px; }
    .pro-detail #pro-detail .product-detail-image {
      padding: 0 30px; }
      .pro-detail #pro-detail .product-detail-image .row {
        margin-top: 10px; }
        .pro-detail #pro-detail .product-detail-image .row .column {
          margin-left: 0;
          width: 25%;
          padding: 0 3px; }
    .pro-detail #pro-detail .image-detail .image-name {
      padding: 3px 0; }
      .pro-detail #pro-detail .image-detail .image-name h2, .pro-detail #pro-detail .image-detail .image-name .rupee {
        font-size: 12px;
        padding-bottom: 3px; }
      .pro-detail #pro-detail .image-detail .image-name .detail-content {
        font-size: 10px; }
    .pro-detail #pro-detail .image-detail p {
      font-size: 10px; }
    .pro-detail #pro-detail .item-detail {
      padding: 3px 0; }
      .pro-detail #pro-detail .item-detail .describe {
        padding: 3px 0;
        width: 100%; }
      .pro-detail #pro-detail .item-detail h3 {
        font-size: 12px; }
      .pro-detail #pro-detail .item-detail .policy {
        font-size: 10px;
        padding: 3px 0;
        width: 100%; }
    .pro-detail #pro-detail .add-to-cart .quantity {
      padding: 3px 0;
      margin-left: 5px;
      width: 50%; }
    .pro-detail #pro-detail .add-to-cart .cart-btn {
      width: 45%;
      margin: 16px 0 0 2px; } }
@media (min-width: 576px) and (max-width: 767px) {
  .crafts .product-item {
    width: 80%;
    margin: auto; }
    .crafts .product-item .product-image {
      height: 479px;
      width: 100%; } }
@media (min-width: 768px) and (max-width: 1200px) {
  .crafts .product-item {
    padding-top: 25px; }

  .pro-detail #pro-detail {
    margin-top: 100px;
    width: 80%; }
    .pro-detail #pro-detail .image-detail .image-name {
      padding: 3px 0; }
      .pro-detail #pro-detail .image-detail .image-name h2, .pro-detail #pro-detail .image-detail .image-name .rupee {
        font-size: 20px;
        padding-bottom: 3px; }
      .pro-detail #pro-detail .image-detail .image-name .detail-content {
        font-size: 10px; }
    .pro-detail #pro-detail .image-detail p {
      font-size: 10px; }
    .pro-detail #pro-detail .item-detail {
      padding: 3px 0; }
      .pro-detail #pro-detail .item-detail .describe {
        padding: 3px 0;
        width: 100%; }
      .pro-detail #pro-detail .item-detail h3 {
        font-size: 12px; }
      .pro-detail #pro-detail .item-detail .policy {
        font-size: 10px;
        padding: 3px 0;
        width: 100%; }
    .pro-detail #pro-detail .add-to-cart .quantity {
      padding: 3px 0;
      margin-left: 5px;
      width: 50%; }
    .pro-detail #pro-detail .add-to-cart .cart-btn {
      width: 45%;
      margin: 16px 0 0 2px; } }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-size: 16px;
  font-family: "Merienda", cursive; }

.wrapper {
  max-width: 1150px;
  margin: 0 auto; }

.row {
  margin-right: -15px;
  margin-left: -15px; }

.row:after, .clearfix:after {
  content: "";
  clear: both;
  display: table; }

.section-padding {
  padding-top: 100px;
  padding-bottom: 100px; }

.view-items {
  color: #1d7a8c;
  font-size: 18px; }
  .view-items:hover {
    color: #1d7a8c; }

@media (max-width: 1200px) {
  .header-heading, .section-padding, footer {
    padding-left: 30px;
    padding-right: 30px; } }
@media (min-width: 0) and (max-width: 767px) {
  body {
    font-size: 14px; }

  .section-padding {
    padding-top: 50px;
    padding-bottom: 50px; }

  h2 {
    font-size: 20px; }

  .stroke {
    width: 150px;
    height: 3px; }

  .break-icon {
    font-size: 25px;
    padding-top: 0; }

  .mid-text {
    width: 100%;
    font-size: 14px; } }
.btn {
  font-family: 'Laila', serif;
  padding: 15px 0;
  background-color: transparent;
  border: 1px solid #ec8074;
  font-size: 14px;
  width: 10%;
  text-align: center;
  text-decoration: none;
  transition: background-color 1s;
  font-weight: 600;
  color: #ec8074; }
  .btn:hover {
    background-color: #ec8074;
    color: #fff; }

a {
  text-decoration: none; }

.text-box {
  width: 100%;
  color: #000;
  padding: 15px 15px;
  border: 1px solid #cccccc;
  border-radius: 2px; }

input::placeholder, textarea::placeholder {
  color: #fff;
  font-weight: 300;
  font-family: "Merienda", cursive; }

.slider {
  width: 50%;
  margin: 100px auto; }
  .slider .slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2; }
    .slider .slick-slide img {
      width: 100%; }
    .slider .slick-slide .slick-prev:before,
    .slider .slick-slide .slick-next:before {
      color: #000; }
  .slider .slick-active {
    opacity: 1; }

.slider .slick-dots li button::before, .banner-slider .slick-dots li button::before {
  font-size: 12px; }

.stroke {
  width: 250px;
  height: 3px;
  background-color: #1d7a8c;
  display: block;
  margin: 0 auto; }

.break-icon {
  font-size: 40px;
  color: #ec8074;
  padding-top: 30px; }

h2 {
  font-size: 40px;
  color: #1d7a8c;
  text-align: center;
  font-family: 'Laila', serif; }

.img-heading {
  font-weight: 300;
  font-size: 44px;
  text-align: justify; }

h1 {
  text-transform: uppercase;
  font-family: 'Laila', serif;
  color: #1d7a8c;
  font-size: 66px;
  text-align: center; }

.banner-para {
  text-align: center;
  font-size: 28px;
  color: #000;
  padding-top: 10px;
  width: 100%;
  display: inline-block;
  font-family: 'Merienda', cursive; }

.mid-text {
  font-size: 18px;
  color: #abadae;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 10px; }

/*# sourceMappingURL=style.css.map */
