@mixin mq($breakpoint, $type:min){
  @if map_has_key($grid-breakpoints, $breakpoint){
      $width: map_get($grid-breakpoints, $breakpoint );
      @if $type == max {
          $width:$width - 1px;
      }
      @media (#{$type}-width:$width) {
          @content;
      }
  }
}


@mixin mq-only($min-width, $max-width){
  @if map_has_key($grid-breakpoints, $min-width) and 
      map_has_key($grid-breakpoints, $max-width){
          $min-width: map_get($grid-breakpoints, $min-width);
          $max-width: map-get($grid-breakpoints, $max-width) - 1px;

          @media (min-width: $min-width) and (max-width: $max-width){
              @content;
           } 
          }@else {
              @error "Please Define correct media query breakpoint";
          }
}