// font-color//

$white: #fff !default;
$heading: #1d7a8c !default;
$content-color:#abadae!default;
$twitter:#00aced !default;
$facebook:#3b5998 !default;
$pinterest:#cb2028 !default;
$black:#000 !default;
$input-border:#cccccc !default;
$placeholder:#bbbbbb !default;
$btn: #ec8074 !default;
$mid-text : #F0F0F0 !default; 
$border-bottom : #ebebeb !default; 
$footer-bg : #f6f6f6 !default;
$nav-hover : #909090 !default;


$default-font: 'Merienda', cursive;

//font-family//

$grid-breakpoints:(
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1201px
) !default;