//button
.btn{
    font-family:  'Laila', serif;
    padding: 15px 0;
    background-color:transparent;
    border: 1px solid $btn;
    font-size: 14px;
    width: 10%;
    text-align: center;
    text-decoration: none;
    transition: background-color 1s;
    font-weight: 600;
    color: $btn; 
  
      &:hover {
        background-color: $btn;
        color:$white;
       }
    }
  

// anchor
a{
  text-decoration: none;
}
