*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  font-size:16px;
  font-family: $default-font;
 
}
.wrapper{
  max-width:1150px;
  margin:0 auto;
}

.row {
  margin-right: -15px;
  margin-left:-15px;
}

.row:after,.clearfix:after{
  content: "";
  clear: both;
  display: table;
}
//section-padding
.section-padding{
  padding-top:100px;
  padding-bottom:100px;
}




// view collection
.view-items{
  color: $heading;
  font-size: 18px;
  &:hover{
    color: $heading;
  }
}


// Media Queries  


@include mq("xl", max){
  .header-heading,.section-padding,footer{
  padding-left:30px;
  padding-right:30px;

}
  
  

}
@include mq-only("xs","md"){
    body{
     font-size: 14px;
    }

    .section-padding{
      padding-top:50px;
      padding-bottom:50px;
    }

    h2{
      font-size: 20px;
    }

    .stroke{
      width: 150px;
      height: 3px;
    }
    .break-icon{
      font-size:25px;
      padding-top:0;
    }

    .mid-text{
      width: 100%;
      font-size: 14px;
    
    }
    
}