// input
.text-box{
    width:100%;
    color: $black;
    padding: 15px 15px;
    border: 1px solid $input-border;
    border-radius: 2px;
  }

  //placeholder
input::placeholder,textarea::placeholder{
  color:$white;
  font-weight:300;
  font-family:$default-font;
}

  