
// slider

.slider {
    width: 50%;
    margin: 100px auto;
  
    .slick-slide {
      transition: all ease-in-out .3s;
      opacity: .2;
  
       img {
        width: 100%;
        }
  
        .slick-prev:before,
        .slick-next:before {
          color: $black;
        }
  
      }
      .slick-active {
        opacity: 1;
        }
        
  }
  .slider, .banner-slider{
        .slick-dots{
          li{
             button{ 
      
              &::before{
               font-size: 12px;
              }
            
          }
        }
      }
  }