//stroke

.stroke {
    width: 250px;
    height: 3px;
    background-color: $heading;
    display: block;
    margin: 0 auto; 
   }


   
   .break-icon{
    font-size: 40px;
    color: $btn;
    padding-top: 30px;
  }