//headings
h2{
    font-size: 40px ;
    color: $heading;
    text-align: center;
    font-family:  'Laila', serif;
  
  
  }
  // headings inside image
  .img-heading{
    font-weight: 300;
    font-size: 44px;
    text-align: justify;
    
  }

  // innerpagesBg

  h1{
    text-transform:uppercase;
    font-family:  'Laila', serif;
      color:$heading;
      font-size:66px;
      text-align: center;
 }
 .banner-para{
  text-align: center;
  font-size:28px;
  color:	$black;
  padding-top:10px;
  width:100%;
  display:inline-block;
  font-family: 'Merienda', cursive;        
 }


 
  // mid text
  .mid-text{
    font-size:18px;
    color: $content-color;
    text-align: center;
    padding-top: 25px;
    padding-bottom:10px;
  
  }

